<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinepolis</title>
</head>
<body>
    <div class="container">
        <h1>Cinepolis</h1>
        <mat-card>
            <mat-card-header>Entradas</mat-card-header>
            <mat-card-content>
                <mat-label>Nombre: </mat-label>
                <input matInput [(ngModel)]="nombre" type="text" name="nombre" id="nombre" placeholder="Nombre">
                <mat-label>Cantidad de Compradores: </mat-label>
                <input matInput [(ngModel)]="catComprador" type="number" name="catComprador" id="catComprador" placeholder="Compradores">
                <mat-label>Tarjeta: </mat-label>
                <mat-radio-group>
                    <mat-radio-button value="Si">Si</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                <mat-label>Cantidad de Boletos: </mat-label>
                <input matInput [(ngModel)]="catBoletos" type="text" name="catBoletos" id="catBoletos" placeholder="Boletos">
            </mat-card-content>
        <br>
            <mat-card-header>Salidas</mat-card-header>
            <mat-card-content>
                <mat-label>Valor a Pagar: </mat-label>
                <input matInput [(ngModel)]="valor" type="text" name="valor" id="valor" placeholder="Valor a Pagar">
            </mat-card-content>
        <br>
            <mat-card-header>Acciones</mat-card-header>
            <mat-card-actions>
                    <button (click)="pagar()" mat-button color="primary">Procesar</button>
                    <button mat-button color="danger" type="reset">Salir</button>
            </mat-card-actions>
            <br>
            <mat-card-footer>
                <h3>El total es: </h3>
            </mat-card-footer>
        </mat-card>
    </div>
</body>
</html>
