<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinepolis</title>
</head>
<body>
    <br>
    <img src="/assets/Logo.png" class="img">
    <div class="container">
        <div class="form-section">
          <mat-card>
            <mat-card-header>Entradas</mat-card-header>
            <mat-card-content>
              <mat-label>Nombre: </mat-label>
              <input matInput [(ngModel)]="nombre" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
              <br><br>
              <mat-label>Cantidad de Compradores: </mat-label>
              <input matInput [(ngModel)]="catComprador" type="number" name="catComprador" id="catComprador" placeholder="Compradores" required>
              <br><br>
              <mat-label>Tarjeta: </mat-label>
              <mat-radio-group [(ngModel)]="tarjeta">
                <mat-radio-button value="Si" required>Si</mat-radio-button>
                <mat-radio-button value="No" required>No</mat-radio-button>
              </mat-radio-group>
              <br><br>
              <mat-label>Cantidad de Boletos: </mat-label>
              <input matInput [(ngModel)]="catBoletos" type="number" name="catBoletos" id="catBoletos" placeholder="Boletos" required>
            </mat-card-content>
            <br><br>
          </mat-card>
        </div>
      
        <div class="result-section">
          <mat-card>
            <mat-card-header>Salidas</mat-card-header>
            <mat-card-content>
              <mat-label>Valor a Pagar: </mat-label>
              <input matInput [(ngModel)]="valor" type="number" name="valor" id="valor" placeholder="Valor a Pagar" readonly disabled>
            </mat-card-content>
            <br>
          </mat-card>
        <br>
          <mat-card>
            <mat-card-header>Acciones</mat-card-header>
            <mat-card-actions>
              <button (click)="Pagar()" mat-button>Procesar</button>
              <button (click)="Cancelar()" mat-button >Salir</button>
            </mat-card-actions>
            <br>
          </mat-card>
        </div>
      </div>
        <h3>Nombre del comprador es: {{ nombre }}</h3>
        <h3>La cantidad de compradores es: {{ catComprador}}</h3>
        <h3>La cantidad de boletos comprados es: {{ catBoletos}}</h3>
        <h3>El total es: ${{ total }}</h3>
        <h3>Uso tarjeta: {{ tarjeta }}</h3>
</body>
</html>
